<footer>
    <div>
        <p>2020. Made by Raimonds Zīle</p>
        <a href="https://www.facebook.com/raimonds.zile"><i class="footer-icon fa-2x fab fa-facebook-square"></i></a>
        <a href="https://www.linkedin.com/in/raimonds-zile-b41a45100/"><i class="footer-icon fa-2x fab fa-linkedin"></i></a>
        <a href="mailto:zileraimonds@gmail.com"><i class="footer-icon fa-2x fas fa-envelope"></i></a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>